// RESPONSIVE_SCREEN_SIZES
$screen-xs: 375px;
$screen-sm: 600px;
$screen-md: 960px;
$screen-lg: 1280px;
$screen-xl: 1440px;

// PROFILE_HERO
// iphone screen based
$hero-xl: 100%;
$hero-l: 70%;
$hero-m: 50%;
$hero-sm: 30%;
$hero-xs: 9%;
